@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-variant: tabular-nums;
  font-feature-settings: "tnum";
  line-height: 100%;
  box-sizing: border-box;
}

body {
  background-color: #1A1A1A;
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

a:hover, button:hover {
  cursor: pointer;
}

button {
  border: none;
  font-size: 1rem;
  background-color: transparent;
}

img:hover {
  cursor: pointer;
}

input[type=text] {
  background-image: url("../resources/search_icon.png");
  background-size: 30px 30px;
  background-repeat: no-repeat;
  display: block;
  padding: 5px 30px;
  font-size: 1rem;
  border: none;
  outline: none;
  border-radius: 5px;
}

.dropdown {
  transition: 300ms;
  z-index: -1;
  opacity: 0;
}

/* header and its contents */
#theHeader {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 48px;
  background-color: #282828;
}

/* makes contents appear in correct place on bigger screens */
#headerContentsWrapper {
  width: min(1200px, 100%);
  position: relative;
  margin: auto;
  display: block;
}

#headerContentMobile,
#headerContentDesktop {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: min(1200px, 100%);
  height: inherit;
  padding: 0 20px;
  margin: auto;
}

.logo {
  height: 22px;
  width: 18px;
}

.bell {
  font-size: 1.2rem;
}

/* notifications list */
@keyframes rotateAnimation {
  100% {
    transform: rotateY(180deg);
  }
}
#notificationsWrapper {
  position: fixed;
  top: 52px;
  right: 0;
  width: 440px;
  height: 500px;
  background-color: #282828;
  border-radius: 8px;
}

#notificationsContainer {
  padding: 15px;
  height: 450px;
  overflow: auto;
}
#notificationsContainer a {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  border-radius: 8px;
  font-size: 0.8rem;
  color: #EEE;
}
#notificationsContainer a:hover {
  background-color: #383838;
}
#notificationsContainer a:hover > hr {
  border: none;
}
#notificationsContainer a > div:nth-of-type(1) {
  font-size: 1.5rem;
  margin-right: 20px;
}
#notificationsContainer a > div:nth-of-type(2) {
  padding-right: 10px;
}
#notificationsContainer a > div:nth-of-type(2) > span:nth-of-type(1) {
  animation-name: rotateAnimation;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  transition: 1s;
  display: inline-block;
}
#notificationsContainer a > div:nth-of-type(2) > span:nth-of-type(2) {
  color: #E99519;
}
#notificationsContainer a > div:nth-of-type(3) {
  color: #AAA;
  width: 150px;
}
#notificationsContainer a > hr {
  position: absolute;
  bottom: 0;
  left: 54px;
  width: 345px;
  border-bottom: none;
  border-color: #888;
}

#notificationsBottom {
  display: flex;
  justify-content: space-between;
  height: 50px;
  padding: 12px 20px;
  border-radius: 0 0 8px 8px;
  background-color: #363636;
}
#notificationsBottom a {
  color: #AAA;
  font-size: 1.2rem;
}
#notificationsBottom a:first-of-type {
  margin-top: 3px;
  padding: 0 10px;
  border-radius: 20px;
}
#notificationsBottom a:first-of-type:hover {
  background-color: #444;
}

/* profile menu */
.profileInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 15px;
}
.profileInfo > img {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  margin-right: 15px;
}
.profileInfo > div > p:first-of-type {
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 3px;
}
.profileInfo > div > p:nth-of-type(2) {
  font-size: 0.75rem;
  color: #E99519;
}

.profileRelatedLinks {
  display: flex;
  flex-direction: row;
  overflow: auto;
  width: 100%;
  margin-bottom: 20px;
  text-align: center;
}
.profileRelatedLinks > a {
  display: block;
  width: 80px;
  height: 80px;
  padding-top: 18px;
  flex-shrink: 0;
  background-color: #3F3F3F;
  border-radius: 8px;
}
.profileRelatedLinks > a:hover {
  background-color: #454545;
}
.profileRelatedLinks > a:not(.profileRelatedLinks > a:last-of-type) {
  margin-right: 10px;
}
.profileRelatedLinks > a > p:nth-of-type(1) {
  font-size: 1.8rem;
  margin-bottom: 10px;
}
.profileRelatedLinks > a > p:nth-of-type(2) {
  font-size: 0.7rem;
  color: #BDBFC2;
}

.verticalLinks a, .verticalLinks > button {
  display: block;
  margin-bottom: 5px;
  padding: 10px;
  font-size: 0.9rem;
  border-radius: 8px;
}
.verticalLinks a:hover, .verticalLinks > button:hover {
  background-color: #3F3F3F;
}
.verticalLinks a span:nth-of-type(1), .verticalLinks > button span:nth-of-type(1) {
  margin-right: 5px;
}

/* menu and its contents */
#mobileMenu {
  position: fixed;
  top: 48px;
  left: 0;
  width: 100vw;
  padding: 20px;
  box-sizing: border-box;
  background-color: #303030;
}

#awesomeBorder {
  border: 1px solid #555556;
  border-bottom: none;
  margin: 10px 0;
}

#headerContentMobile #mobileMenuButton {
  color: #bdbfc2;
  position: relative;
  width: 22px;
  height: 22px;
}
#headerContentMobile #mobileMenuButton span {
  position: absolute;
  top: 1.5px;
  left: 2px;
  font-size: 1.2rem;
}

#storeButton,
#interviewButton {
  position: relative;
  width: 100%;
  text-align: left;
  color: white;
}
#storeButton > span:nth-of-type(2),
#interviewButton > span:nth-of-type(2) {
  position: absolute;
  right: 10px;
  top: 10px;
  color: #BDBFC2;
  font-size: 0.75rem;
}

#storeDropdown,
#interviewDropdown {
  display: none;
  padding-left: 20px;
}

#headerContentDesktop {
  display: none;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: inherit;
}
#headerContentDesktop > div {
  display: flex;
  flex-direction: row;
  align-items: center;
}
#headerContentDesktop > div:last-of-type > button, #headerContentDesktop > div:last-of-type > a {
  display: block;
  margin-right: 25px;
}
#headerContentDesktop > div:last-of-type > button span, #headerContentDesktop > div:last-of-type > a span {
  color: rgba(239, 241, 246, 0.75);
}
#headerContentDesktop > div:last-of-type img {
  height: 24px;
  border-radius: 50%;
  display: block;
}

#desktopLinks {
  display: flex;
  flex-direction: row;
  align-items: center;
}
#desktopLinks > a, #desktopLinks > button {
  display: block;
  margin-right: 16px;
  color: rgba(239, 241, 246, 0.75);
}
#desktopLinks > a:hover, #desktopLinks > button:hover {
  color: #fff;
}
#desktopLinks button {
  position: relative;
}
#desktopLinks button:last-of-type {
  color: #E99519;
  margin: 0;
}
#desktopLinks button > div {
  position: absolute;
  top: 30px;
  left: 0;
  padding: 7px;
  text-align: left;
  border-radius: 8px;
  background-color: #303030;
}
#desktopLinks button > div > a {
  display: block;
  padding: 5px 10px;
  line-height: 100%;
  font-size: 0.9rem;
  white-space: nowrap;
  border-radius: 5px;
  color: rgba(239, 241, 246, 0.75);
}
#desktopLinks button > div > a:hover {
  background-color: #3f3f3f;
  color: #fff;
}
#desktopLinks #interviewButtonDesktop.active {
  color: #fff;
}

#storeDropdownDesktop > a {
  color: #E99519 !important;
}

#fire {
  position: relative;
}
#fire:hover > div {
  display: flex;
}
#fire > div {
  display: none;
  flex-direction: row;
  align-items: center;
  position: absolute;
  top: 35px;
  right: 0;
  width: 260px;
  padding: 8px 10px;
  line-height: 130%;
  font-size: 0.9rem;
  border-radius: 5px;
  color: white;
  background-color: #3c3c3c;
}
#fire > div > img {
  display: block;
  width: 35px !important;
  height: 35px !important;
  margin-right: 10px;
  filter: grayscale(100%);
}

/* profile menu */
#profileMenuDesktop {
  position: absolute;
  top: 5px;
  right: 8px;
  width: 310px;
  padding: 20px;
  border-radius: 8px;
  background-color: #303030;
}

@media (min-width: 680px) {
  #theHeader {
    position: relative;
  }
  #notificationsWrapper {
    position: absolute;
    top: 5px;
  }
  #headerContentMobile {
    display: none;
  }
  #headerContentDesktop {
    display: flex;
  }
  #notificationsWrapper {
    right: 100px;
  }
  .profileRelatedLinks {
    margin-bottom: 0;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .profileRelatedLinks a {
    margin: 0 0 15px !important;
  }
}
#mainContentWrapper {
  display: block;
  margin: 80px auto 0;
  width: min(100%, 1200px);
  height: 48px;
}

#theMain {
  padding: 0 20px;
}
#theMain > hr {
  border-bottom: none;
  border-color: #3d3d3d;
  margin-bottom: 30px;
}

#problemTypesContainer {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  height: 2rem;
  margin-bottom: 30px;
}
#problemTypesContainer > button {
  box-shadow: -14px 0px 19px 14px rgb(26, 26, 26);
  display: block;
  height: 2rem;
  background-color: #1a1a1a;
  position: absolute;
  top: 0;
  bottom: auto;
  right: 0;
  padding: 0 10px;
  color: #A3A4A6;
}
#problemTypesContainer > a {
  flex-shrink: 0;
  display: block;
  margin-right: 15px;
  line-height: 200%;
}
#problemTypesContainer > a:hover {
  color: #0E80E1;
}
#problemTypesContainer > a:hover > span {
  background-color: #182E44;
  color: #0E80E1;
}
#problemTypesContainer > a > span {
  color: #A3A4A6;
  font-size: 0.8rem;
  padding: 3px 5px;
  border-radius: 15px;
  background-color: #323232;
}

#problemGroupsLinks {
  position: relative;
}
#problemGroupsLinks > button {
  position: absolute;
  right: 0;
  height: calc(1.2rem + 20px);
  padding: 0 10px;
  background-color: #1a1a1a;
  color: #A3A4A6;
  box-shadow: -3px 0px 19px 14px rgb(26, 26, 26);
}

#problemGroupsLinksInner {
  display: flex;
  overflow: hidden;
  margin-bottom: 30px;
}
#problemGroupsLinksInner > a {
  flex-shrink: 0;
  display: block;
  padding: 10px 15px;
  margin-right: 15px;
  font-size: 1.2rem;
  border-radius: 30px;
  background-color: #323232;
  color: #BDBEBC;
}
#problemGroupsLinksInner > a:hover {
  background-color: #3b3b3b;
}
#problemGroupsLinksInner > a:last-of-type {
  margin-right: 60px;
}
#problemGroupsLinksInner > a.chosen {
  color: #262626;
  background-color: #fff;
}
#problemGroupsLinksInner > a.chosen:hover {
  background-color: #fff;
}

#slideBarAndButtons1 {
  margin-bottom: 30px;
}

.slideButtonsContainer {
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 10px;
}
.slideButtonsContainer > button {
  color: #BEC0C3;
  background-color: #2b2b2b;
  border-radius: 3px;
  padding: 5px;
  font-size: 1rem;
  font-weight: bold;
  width: 30px;
  height: 30px;
}
.slideButtonsContainer > button:hover {
  background-color: #323232;
}
.slideButtonsContainer > button:first-of-type {
  margin-left: 5px;
}

#slideContainer1, #slideContainer2 {
  position: relative;
  margin: auto;
  overflow: hidden;
  width: inherit;
}

#slideInnerContainer1, #slideInnerContainer2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.slideImage1, .slideImage2 {
  display: block;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
}
.slideImage1 > img, .slideImage2 > img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.slideImage2 > img {
  height: 87%;
}
.slideImage2 > p {
  width: 100%;
  font-size: 0.9rem;
  text-align: center;
  position: absolute;
  top: 105%;
  line-height: 120%;
}

#problemsParametersChoosersContainer {
  display: flex;
  justify-content: space-between;
}

#problemsParametersChoosersInnerFirst {
  display: flex;
  flex-wrap: wrap;
}
#problemsParametersChoosersInnerFirst > div {
  position: relative;
  flex-shrink: 0;
  margin: 0 10px 10px 0;
}
#problemsParametersChoosersInnerFirst > div > button, #problemsParametersChoosersInnerFirst > div > input {
  background-color: #323232;
  color: #c0c2c5;
  border-radius: 8px;
}
#problemsParametersChoosersInnerFirst > div > button:hover, #problemsParametersChoosersInnerFirst > div > input:hover {
  background-color: #3b3b3b;
}
#problemsParametersChoosersInnerFirst > div > button {
  padding: 10px;
  font-size: 1rem;
}
#problemsParametersChoosersInnerFirst > div > button::after {
  content: "▽";
  margin-left: 10px;
  display: inline-block;
  transition: 300ms;
  font-size: 1.1rem;
}
#problemsParametersChoosersInnerFirst > div > button.active::after {
  transform: rotateZ(180deg);
}
#problemsParametersChoosersInnerFirst > div > input {
  height: 36px;
  background-position-y: 3px;
}
#problemsParametersChoosersInnerFirst > div > input:focus {
  background-color: #3b3b3b;
}
#problemsParametersChoosersInnerFirst > div > ul, #problemsParametersChoosersInnerFirst > div > div {
  position: absolute;
  top: calc(100% + 2px);
  opacity: 0;
  z-index: -1;
  transition: 300ms;
  padding: 10px;
  background-color: #303030;
  border-radius: 8px;
}
#problemsParametersChoosersInnerFirst > div.chooserTypeOne > ul {
  list-style-type: none;
}
#problemsParametersChoosersInnerFirst > div.chooserTypeOne > ul button {
  display: block;
  width: 100%;
  padding: 8px;
  text-align: left;
  color: #f2f2f2;
  border-radius: 8px;
}
#problemsParametersChoosersInnerFirst > div.chooserTypeOne > ul button:hover {
  background-color: #3f3f3f;
}
#problemsParametersChoosersInnerFirst > div.chooserTypeOne #listsDropdown {
  width: 270px;
}
#problemsParametersChoosersInnerFirst > div.chooserTypeOne #difficultyDropdown {
  width: 140px;
}
#problemsParametersChoosersInnerFirst > div.chooserTypeOne #difficultyDropdown #easyDifficultyButton {
  color: #03b39e;
}
#problemsParametersChoosersInnerFirst > div.chooserTypeOne #difficultyDropdown #mediumDifficultyButton {
  color: #F3BF1E;
}
#problemsParametersChoosersInnerFirst > div.chooserTypeOne #difficultyDropdown #hardDifficultyButton {
  color: #A73D3F;
}
#problemsParametersChoosersInnerFirst > div.chooserTypeOne #statusDropdown {
  width: 160px;
}
#problemsParametersChoosersInnerFirst > div.chooserTypeOne #statusDropdown span {
  display: inline-block;
  width: 20px;
}
#problemsParametersChoosersInnerFirst > div.chooserTypeOne #statusDropdown li:nth-of-type(1) span {
  color: #A3A4A6;
}
#problemsParametersChoosersInnerFirst > div.chooserTypeOne #statusDropdown li:nth-of-type(2) span {
  color: #03b39e;
}
#problemsParametersChoosersInnerFirst > div.chooserTypeOne #statusDropdown li:nth-of-type(3) span {
  color: #F3BF1E;
}
#problemsParametersChoosersInnerFirst > div.chooserTypeOne #optionsDropdown {
  width: 200px;
  right: 0;
}
#problemsParametersChoosersInnerFirst > div.chooserTypeOne #optionsDropdown span {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  margin-right: 5px;
  vertical-align: -12%;
  background-color: #555;
  border-radius: 3px;
}
#problemsParametersChoosersInnerFirst > div.chooserTypeOne #optionsDropdown > li:nth-of-type(2) > button {
  color: #FFA116;
}

#tagsDropdown {
  width: 400px;
}
#tagsDropdown > input {
  margin-bottom: 20px;
  width: 100%;
  background-color: #454545;
  color: #babbbe;
}
#tagsDropdown > input:focus {
  background-color: #4e4e4e;
}
#tagsDropdown ::placeholder {
  color: #757266;
  opacity: 1;
}
#tagsDropdown :-ms-input-placeholder {
  color: #757266;
}
#tagsDropdown ::-ms-input-placeholder {
  color: #757266;
}
#tagsDropdown button:nth-of-type(1), #tagsDropdown button:nth-of-type(2) {
  display: inline-block;
  color: #b0b5b7;
  margin-right: 15px;
  font-size: 1rem;
}
#tagsDropdown button.chosen {
  color: white;
  text-decoration: 2px underline;
  text-underline-offset: 8px;
}
#tagsDropdown button.blocked:hover {
  cursor: not-allowed;
}
#tagsDropdown button.blocked::after {
  content: "🔒";
  margin-left: 5px;
  cursor: pointer;
}
#tagsDropdown hr {
  border-color: #888;
  border-bottom: none;
  margin-bottom: 10px;
}

#anotherProblemTypesContainer {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  height: 93px;
}
#anotherProblemTypesContainer > a {
  display: block;
  flex-shrink: 0;
  margin: 0 5px 10px 0;
  padding: 5px 10px;
  font-size: 0.9rem;
  border-radius: 15px;
  background-color: #454545;
  color: #b0b5b7;
  transition: 300ms;
}
#anotherProblemTypesContainer > a:hover {
  background-color: #4e4e4e;
}

#anotherProblemTypesButton {
  margin: 12px 0;
  color: rgb(10, 132, 255);
}

#searchResetButton {
  width: 100%;
  text-align: right;
  color: #666;
  margin-bottom: 5px;
}

#problemsParametersChoosersInnerSecond {
  flex-shrink: 0;
}
#problemsParametersChoosersInnerSecond #pickOneButton span:nth-of-type(1) {
  display: inline-block;
  width: 36px;
  height: 36px;
  font-size: 1.8rem;
  padding-top: 3px;
  border-radius: 50%;
  color: white;
  background-color: #34C165;
  box-shadow: 0px 0px 15px 0px rgb(52, 193, 101);
}
#problemsParametersChoosersInnerSecond #pickOneButton span:nth-of-type(2) {
  color: #288130;
  margin-left: 10px;
  vertical-align: 4px;
}

#problemsTableContainer {
  overflow: auto;
}

#problemsTable {
  font-size: 0.9rem;
  width: 800px;
  text-align: left;
  border-collapse: collapse;
}
#problemsTable tr {
  height: 46px;
}
#problemsTable tr:nth-of-type(odd) {
  background-color: #2b2b2b;
}
#problemsTable tr:first-of-type {
  background-color: transparent;
}
#problemsTable th:first-of-type, #problemsTable td:first-of-type {
  padding-left: 8px;
}
#problemsTable th:last-of-type, #problemsTable td:last-of-type {
  padding-right: 8px;
}
#problemsTable th {
  color: #BDBB9D;
  font-weight: normal;
  border-bottom: 1px solid #2b2b2b;
}
#problemsTable .longestColumn {
  max-width: 170px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#problemsTable td.longestColumn {
  padding-right: 20px;
}
#problemsTable td:last-of-type span {
  display: inline-block;
  width: 100%;
  height: 0.7rem;
  font-size: 1rem;
  line-height: 60%;
  text-align: center;
  background-color: #414141;
  border-radius: 8px;
}
#problemsTable td:nth-of-type(1),
#problemsTable td:nth-of-type(3) {
  color: #505050;
}

th.changableOrder {
  position: relative;
}
th.changableOrder:hover {
  color: #d3d3d3 !important;
  cursor: pointer;
}
th.changableOrder span {
  position: absolute;
  right: 20px;
  top: 10px;
  font-size: 1.4rem;
}

td.tableEasy {
  color: #03b39e;
}

td.tableMedium {
  color: #F3BF1E;
}

td.tableHard {
  color: #A73D3F;
}

#paginationAndPagesAmountContainer {
  margin-top: 20px;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}

#pagesAmountContainer {
  position: relative;
}

#pagesAmountButton {
  padding: 8px 12px;
  font-size: 0.9rem;
  border-radius: 5px;
  background-color: #323232;
  color: #B6B7BA;
}
#pagesAmountButton:hover {
  background-color: #3b3b3b;
}
#pagesAmountButton > span {
  margin-left: 12px;
}

#pagesAmountDropdown {
  opacity: 0;
  z-index: -1;
  transition: 300ms;
  position: absolute;
  top: calc(100% + 3px);
  padding: 8px;
  width: 120%;
  background-color: #303030;
  border-radius: 5px;
}
#pagesAmountDropdown > button {
  display: block;
  width: 100%;
  padding: 5px;
  color: #fff;
  border-radius: 3px;
  text-align: left;
}
#pagesAmountDropdown > button:hover {
  background-color: #3f3f3f;
}

#paginationContainer {
  display: flex;
  margin-bottom: 20px;
}
#paginationContainer > button {
  display: block;
  margin-left: 5px;
  width: 30px;
  height: 30px;
  font-size: 0.9rem;
  background-color: #303030;
  color: #C2C4C7;
  border-radius: 3px;
}
#paginationContainer > button:hover {
  background-color: #3b3b3b;
}
#paginationContainer > button.chosen {
  background-color: #5c5c5c;
  color: white;
}
#paginationContainer > button.chosen:hover {
  cursor: default;
}
#paginationContainer > button.disabled {
  background-color: #232323;
  color: #5C5D5E;
}
#paginationContainer > button.disabled:hover {
  cursor: default;
}
#paginationContainer > button.disappearing {
  display: none;
}

@media (min-width: 680px) {
  #mainContentWrapper {
    display: flex;
    margin-top: 30px;
  }
  #theMain {
    width: 70%;
  }
  #theAside {
    width: 30%;
  }
  #paginationAndPagesAmountContainer {
    flex-direction: row;
    justify-content: space-between;
  }
  #paginationAndPagesAmountContainer > #paginationContainer {
    margin: 0;
  }
}
@media (min-width: 820px) {
  #paginationContainer > button.disappearing {
    display: block;
  }
}
#theAside {
  padding: 0 20px;
}
#theAside > div {
  margin: 0 auto 20px;
  background-color: #282828;
  border-radius: 8px;
}

#statsContainer {
  padding: 15px;
}
#statsContainer > div:first-of-type {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
#statsContainer > div:first-of-type > div {
  color: #bdbfc2;
  font-size: 0.9rem;
}
#statsContainer > div:first-of-type > a {
  position: relative;
  padding: 5px;
  border-radius: 5px;
  font-size: 0.85rem;
  background-color: #3e3e3e;
  color: #9C9EA1;
}
#statsContainer > div:first-of-type > a > span:nth-of-type(1) {
  position: absolute;
  top: 0;
  right: 28px;
  display: inline-block;
  width: 1px;
  height: 25px;
  background-color: #282828;
}
#statsContainer > div:first-of-type > a > span:nth-of-type(2) {
  margin-left: 15px;
}
#statsContainer > div:nth-of-type(2) {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#progressWheelContainer {
  flex-shrink: 0;
  position: relative;
  width: 100px;
  height: 100px;
}
#progressWheelContainer > svg {
  width: 100%;
  height: 100%;
}
#progressWheelContainer > svg > path:hover {
  stroke-width: 5px;
  cursor: pointer;
}
#progressWheelContainer > div {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 60px;
  height: 60px;
  text-align: center;
  user-select: none;
}
#progressWheelContainer > div > div {
  height: 100%;
}

.pw-basic-view div:nth-of-type(1) {
  margin: 3px 0 2px;
  font-size: 0.75rem;
  color: #818385;
}
.pw-basic-view div:nth-of-type(2) {
  font-size: 1.4rem;
  margin-bottom: 7px;
  text-decoration: 1px underline #4a4a4a;
  text-underline-offset: 5px;
}
.pw-basic-view div:nth-of-type(3) {
  font-size: 0.75rem;
  color: #777;
}

.pw-acceptance-view > div:nth-of-type(1) {
  margin: 12px 0 5px;
  font-size: 1.25rem;
  font-weight: bold;
}
.pw-acceptance-view > div:nth-of-type(1) > span {
  font-size: 0.7rem;
}
.pw-acceptance-view > div:nth-of-type(2) {
  font-size: 0.7rem;
  color: #888;
}

.pw-easy-acceptance-view > div:nth-of-type(1) {
  color: #03b39e;
}

.pw-medium-acceptance-view > div:nth-of-type(1) {
  color: #F3BF1E;
}

.pw-hard-acceptance-view > div:nth-of-type(1) {
  color: #A73D3F;
}

.pw-no-submission {
  margin-top: 13px;
  line-height: 130%;
  font-size: 0.75rem;
  color: #777;
}

#solved-of-difficulty-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100px;
  padding: 15px 0;
}
#solved-of-difficulty-container > div {
  display: flex;
  justify-content: space-between;
  font-size: 0.9rem;
}
#solved-of-difficulty-container > div:hover {
  cursor: pointer;
}

.sodc-solved-amount {
  color: #bbb;
  font-weight: bold;
}
.sodc-solved-amount > span {
  margin-left: 2px;
  font-size: 0.85rem;
  color: #62625D;
}

#stats-easy-container {
  color: #03b39e;
}

#stats-medium-container {
  color: #F3BF1E;
}

#stats-hard-container {
  color: #A73D3F;
}

#study-plan-container > a {
  display: flex;
  align-items: center;
  padding: 8px;
  box-sizing: content-box;
  border-radius: inherit;
}
#study-plan-container > a:hover {
  background-color: #3b3b3b;
}
#study-plan-container > a > div:nth-of-type(1) {
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  padding-top: 11px;
  font-size: 1.1rem;
  text-align: center;
  background-color: #4a4a4a;
  border-radius: 50%;
}
#study-plan-container > a > div:nth-of-type(2) {
  width: 100%;
  padding: 0 8px;
}
#study-plan-container > a > div:nth-of-type(2) > div:nth-of-type(1) {
  margin-bottom: 3px;
  font-size: 0.95rem;
}
#study-plan-container > a > div:nth-of-type(2) > div:nth-of-type(2) {
  font-size: 0.8rem;
  color: #999;
}
#study-plan-container > a > div:nth-of-type(3) {
  color: #999;
}

#featured-container {
  padding: 15px 5px;
}
#featured-container > div:nth-of-type(1) {
  color: #BDBFC2;
  padding: 5px 0 10px 8px;
  font-size: 0.95rem;
}
#featured-container > div:nth-of-type(2) {
  height: 136px;
  overflow: hidden;
}
#featured-container > div:nth-of-type(2) > a {
  display: block;
  margin-bottom: 5px;
  padding: 5px 30px 5px 5px;
  border-radius: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#featured-container > div:nth-of-type(2) > a:hover {
  background-color: #383838;
}
#featured-container > div:nth-of-type(2) > a > span {
  margin-right: 5px;
  font-size: 2rem;
  vertical-align: -5px;
}
#featured-container > button {
  margin-top: 15px;
  width: 100%;
  color: #888;
  font-size: 0.9rem;
  transition: 300ms;
}
#featured-container > button:hover {
  color: #aaa;
}

#calendar-container {
  padding: 15px;
}

.cc-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}
.cc-top > div:nth-of-type(1) {
  display: flex;
  align-items: center;
}
.cc-top > div:nth-of-type(1) > div:nth-of-type(1) {
  font-size: 0.9rem;
  color: #BCBDBD;
  margin-right: 5px;
}
.cc-top > div:nth-of-type(1) > div:nth-of-type(2) {
  font-size: 0.7rem;
  color: #888;
}
.cc-top > div:nth-of-type(2) > button {
  font-size: 0.8rem;
  color: #BCBDBD;
}
.cc-top > div:nth-of-type(2) > .inactive {
  color: #888;
}
.cc-top > div:nth-of-type(2) > .inactive:hover {
  cursor: default;
}
.cc-top > div:nth-of-type(2) > span {
  margin-right: 5px;
}

.cc-calendar {
  display: grid;
  justify-content: space-around;
  grid-template-columns: auto auto auto auto auto auto auto;
  grid-row-gap: 5px;
}
.cc-calendar > div {
  width: 28px;
  height: 28px;
  padding-top: 7.6px;
  font-size: 0.8rem;
  text-align: center;
  color: #aaa;
  border-radius: 50%;
}
.cc-calendar > div:nth-child(n):nth-child(-n+7) {
  color: #666;
}
.cc-calendar > div:nth-child(n+13):nth-child(-n+43):hover {
  background-color: #3e3e3e;
  cursor: pointer;
}

.cc-missed {
  position: relative;
}
.cc-missed::after {
  content: "🔴";
  position: absolute;
  top: 19px;
  left: 12px;
  font-size: 0.2rem;
}

.cc-solved {
  position: relative;
}
.cc-solved::after {
  content: "☑️";
  position: absolute;
  top: 7.6px;
  left: 4px;
  font-size: 1rem;
}

.cc-current {
  background-color: #2CBB5D;
  color: white !important;
}
.cc-current:hover {
  background-color: #4cc475 !important;
}

@media (min-width: 680px) {
  #theAside {
    padding: 0 20px 0 0;
  }
}
@media (min-width: 680px) and (max-width: 800px) {
  #statsContainer > div:first-of-type > a > span {
    display: none !important;
  }
}
@media (min-width: 940px) {
  #statsContainer > div:nth-of-type(2) {
    flex-direction: row;
  }
  #solved-of-difficulty-container {
    padding: 15px 0 15px 15px;
  }
}

/*# sourceMappingURL=main.css.map */
