/* menu and its contents */
#mobileMenu {
  position: fixed;
  top: 48px;
  left: 0;
  width: 100vw;
  padding: 20px;
  box-sizing: border-box;
  background-color: #303030;
}

// before the last section in the menu
#awesomeBorder {
  border: 1px solid #555556;
  border-bottom: none;
  margin: 10px 0;
}

#headerContentMobile {
  // the menu button on very left
  #mobileMenuButton {
    color: #bdbfc2;
    position: relative;
    width: 22px;
    height: 22px;
    // helps center the icon
    span {
      position: absolute;
      top: 1.5px;
      left: 2px;
      font-size: 1.2rem;
    }
  }
}

#storeButton,
#interviewButton {
  // button that belongs to .verticalLinks
  position: relative;
  width: 100%;
  text-align: left;
  color: white;
  // arrow
  & > span:nth-of-type(2) {
    position: absolute;
    right: 10px;
    top: 10px;
    color: #BDBFC2;
    font-size: 0.75rem;
  }
}

// inside menu
#storeDropdown,
#interviewDropdown {
  display: none;
  padding-left: 20px;
}