#headerContentDesktop {
  display: none;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: inherit;
  // both left and right side
  & > div {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  // right side
  & > div:last-of-type {
    // bell and fire
    & > button, & > a {
      display: block;
      margin-right: 25px;
      span {
        // number next to fire
        color: rgba(239,241,246,.75);
      }
    }
    // profile picture
    img {
      height: 24px;
      border-radius: 50%;
      display: block;
    }
  }
}

#desktopLinks {
  // explore, problems, etc.
  display: flex;
  flex-direction: row;
  align-items: center;
  // anchors and buttons are supposed to look the same
  & > a, & > button {
    display: block;
    margin-right: 16px;
    color: rgba(239,241,246,.75);
    &:hover { color: #fff; }
  }

  // buttons activate dropdowns
  button {
    position: relative;
    // store button
    &:last-of-type {
      color: #E99519;
      margin: 0;
    }
    // button's dropdown
    & > div {
      position: absolute;
      top: 30px;
      left: 0;
      padding: 7px;
      text-align: left;
      border-radius: 8px;
      background-color: #303030;
      // dropdown's element
      & > a {
        display: block;
        padding: 5px 10px;
        line-height: 100%;
        font-size: 0.9rem;
        white-space: nowrap;
        border-radius: 5px;
        color: rgba(239,241,246,.75);
        &:hover {
          background-color: #3f3f3f;
          color: #fff;
        }
      }
    }
  }
  // makes tekst the same as on hover when it's open
  #interviewButtonDesktop.active {
    color: #fff;
  }
}

// make links inside store dropdown orange
#storeDropdownDesktop {
  & > a { color: #E99519!important; }
}

// link with fire icon
#fire {
  position: relative;
  // make tooltip visible
  &:hover > div {
    display: flex;
  }
  // tooltip that appears on hover
  & > div {
    display: none;
    flex-direction: row;
    align-items: center;
    position: absolute;
    top: 35px;
    right: 0;
    width: 260px;
    padding: 8px 10px;
    line-height: 130%;
    font-size: 0.9rem;
    border-radius: 5px;
    color: white;
    background-color: #3c3c3c;
    & > img {
      display: block;
      width: 35px!important;
      height: 35px!important;
      margin-right: 10px;
      filter: grayscale(100%);
    }
  }
}

/* profile menu */
#profileMenuDesktop {
  position: absolute;
  top: 5px;
  right: 8px;
  width: 310px;
  padding: 20px;
  border-radius: 8px;
  background-color: #303030;
}