@media(min-width: 680px) {
  #mainContentWrapper {
    display: flex;
    margin-top: 30px;
  }
  #theMain {
    width: 70%;
  }
  #theAside {
    width: 30%;
  }
  #paginationAndPagesAmountContainer {
    flex-direction: row;
    justify-content: space-between;
    & > #paginationContainer { margin: 0; }
  }
}

@media(min-width: 820px) {
  #paginationContainer { 
    & > button.disappearing {
      display: block;
    }
  }
}
